.mainImageContainer {
    height: 100vh;
    overflow: hidden;
    animation: appear 1.5s ease-in-out 0s 1;
}

.logo {
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    filter: drop-shadow(4px 4px 3px rgb(0, 0, 0));
    z-index: 99;
    animation: slideLeft 1.5s ease-in-out;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.logo:hover {
    width: 36vw;
}

.text_logo {
    background-color: white;
    color: rgb(31, 31, 31);
    font-family: text;
    font-weight: bold;
    font-size: var(--secondary-text-size);
    width: 35vw;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    filter: drop-shadow(4px 4px 3px rgb(0, 0, 0));
    z-index: 99;
    animation: slideRight 1.5s ease-in-out;
    animation-delay: .5s;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.mainImage {
    width: 100%;
    object-fit: cover;
    animation-name: breathe;
    animation-duration: 25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.blogContainer {
    margin: 100px 0px 100px 0px;
}

.title {
    font-weight: bold;
    font-size: var(--primary-title-size);
    margin: 0px 0px 20px 0px;
    color: var(--primary-color);
    font-family: title;
}

.postContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    height: fit-content;
    max-width: 2050px;
    transition: 0.5s ease-in-out;
    text-align: left;
}

.post {
    min-width: 250px;
    width: 29vw;
    max-width: 500px;
    overflow: hidden;
    animation: appear 0.7s;
    margin-bottom: 20px;
    padding-bottom: 3rem;
}

.postTitle {
    color: var(--primary-title-color);
    font-weight: bold;
    font-size: 2rem;
    font-family: title;
    margin-bottom: 20px;
    height: 125px;
    padding: 0.2rem;
}

.postImage {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.postDescription {
    color: var(--primary-text-color);
    font-family: text;
    margin-bottom: 10px;
    height: 80px;
}

.viewMore {
    font-size: 1.1rem;
    width: fit-content;
    cursor: pointer;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 15px;
}

.viewMore:hover {
    color: var(--primary-color);
    background-color: rgb(255, 255, 255);
}

.morePosts {
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
    color: white;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    padding: .5rem 0rem;
}

.morePosts:hover {
    letter-spacing: 2px;
}

@keyframes breathe {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slideLeft {
    0% {
        transform: translate(-300%, -110%);
    }

    100% {
        transform: translate(-50%, -110%);
    }
}

@keyframes slideRight {
    0% {
        transform: translate(300%, 20%);
    }

    100% {
        transform: translate(-50%, 20%);
    }
}