.mainImageContainer {
    height: 90vh;
    overflow: hidden;
}

.mainImage {
    width: 100%;
    object-fit: cover;
    animation-name: mainImage;
    animation-duration: 32s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.sections {
    display: flex;
    justify-content: center;
}

.section {
    background-color: rgb(243, 127, 127);
    padding: 5px;
    height: 375px;
    width: 100%;
    border: 1px black solid;
}

.section:hover {
    cursor: pointer;
}

.blogContainer {
    margin: 70px 0px 70px 0px;
    gap: 20px;
}

.date {
    font-style: italic;
    text-align: end;
    font-size: 13px;
    padding: 7px;
}

.title {
    font-weight: bold;
    font-size: 40px;
    margin: 0px 0px 20px 0px;
}

.postContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.post {
    background-color: rgb(151, 189, 243);
    min-width: 250px;
    width: 31vw;
    max-width: 500px;
    height: fit-content;
    overflow: hidden;
}

.postTitle {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.postImage {
    width: 100%;
}

.postSubtitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.postBodyContainer {
    overflow: hidden;
    height: 80px;
}

.postBody {
    text-align: start;
    margin: 10px;
}

.viewMore {
    font-size: 18px;
    width: fit-content;
    cursor: pointer;
    font-weight: bold;
    margin: 15px;
    color: rgb(68, 68, 68);
    transition: 0.2s ease-in-out;
}

.viewMore:hover {
    color: black;
}

@keyframes mainImage {
    0% {
        transform: scale(1.0) translateX(0px);
    }

    50% {
        transform: scale(1.1) translateX(60px);
    }

    100% {
        transform: scale(1.0) translateX(0px);
    }
}