.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleContainer {
    width: 70%;
}

.topImageContainer {
    height: 30vh;
    overflow: hidden;
    margin-bottom: 2rem;
}

.topImage {
    animation-name: breathe;
    animation-duration: 25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width: 100%;
    object-fit: cover;
}

.title {
    cursor: default;
    font-family: title;
    color: var(--primary-title-color);
    font-weight: bold;
    font-size: var(--primary-title-size);
    transform: translate(0%, 0%);
    transition: all .2s ease-in-out;
}

.title:hover {
    transform: translate(3%, 0%);
    transition: all .2s ease-in-out;
}

.subtitle {}

.list {
    width: fit-content;
}

.text {
    font-family: text;
    font-size: var(--primary-text-size);
    color: var(--primary-text-color);
    text-align: justify;
    margin-bottom: 1rem;
}

.text_strong {
    font-family: text;
    font-weight: bold;
    font-size: var(--secondary-text-size);
    color: var(--primary-title-color);
    text-align: center;
    margin: 1.8rem 0 1.8rem 0;
}

.image {
    width: 40%;
    object-fit: cover;
}

.box {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@keyframes breathe {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}