.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    animation: appear 1s;
    padding: 0 120px 0 120px;
}

a {
    text-decoration: none;
}

.ncContainer{
    display: flex;
}

.logo{
    height: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.button {
    font-weight: bold;
    color: rgb(82, 82, 82);
    transition: 0.2s ease-in-out;
}

.button:hover {
    cursor: pointer;
    color: rgb(36, 36, 36);
}

@keyframes appear {
    0% {
        transform: translate(0%, -100%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}