.container {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    animation: appear 1s;
    padding: 0 60px 0 60px;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.ncContainer {
    display: flex;
}

.logo {
    height: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.button {
    color: white;
    font-family: text;
    font-size: .80rem;
    opacity: 80%;
    transition: 0.2s ease-in-out;
    letter-spacing: .13rem;
    cursor: pointer;
}

.button:hover {
    opacity: 50%;
}

.button_active {
    color: white;
    font-family: text;
    font-size: .80rem;
    opacity: 50%;
    transition: 0.2s ease-in-out;
    letter-spacing: .13rem;
    cursor: pointer;
}

@keyframes appear {
    0% {
        transform: translate(0%, -100%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}