.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post {
    width: 60%;
    /* background-color: blue; */
    /* display: flex;
    flex-direction: column; */
}

.date{
    width: fit-content;
    padding: 0px 10px 0px 10px;
}

.title{
    font-size: 40px;
}

.subtitle{

}

.image{
    width: 100%;
}

.imageDescription{
    font-style: italic;
}

.body{
    text-align: start;
    padding-left: 10px;
    font-size: 1.3vw;
}