@font-face {
  font-family: fun;
  src: url(/src/Assets/Fonts/Chalkiez-Regular.otf);
}

@font-face {
  font-family: title;
  src: url(/src//Assets//Fonts/BebasKai.otf);
}

@font-face {
  font-family: text;
  src: url(/src/Assets/Fonts/CreatoDisplay-Regular.otf);
}

:root {
  --primary-color: rgb(25, 75, 147);
  --secondary-color: rgb(21, 224, 163);
  --primary-title-size: 3.5rem;
  --primary-title-color: rgb(54, 54, 54);
  --primary-text-size: 1.1rem;
  --primary-text-color: rgb(117, 117, 117);
}

ul {
  color: var(--primary-text-color);
  font-family: text;
  text-align: left;
  font-size: var(--primary-text-size);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}