.sections {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.sectionContainer {
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;
    margin: 4px;
}

.sectionContainer img{
    object-position: 60%;
}

.sectionContainer:hover {
    .section {
        cursor: pointer;
        scale: 1.21;
        filter: blur(4px);
    }

    .sectionTitle {
        font-size: 40px;
        transform: translate(-50%, -50%);
    }
}

.sectionTitle {
    letter-spacing: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: title;
    transform: translate(-50%, 500%);
    cursor: pointer;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.section {
    height: 375px;
    width: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;
    scale: 1.01;
}

/*QUERIES*/

@media (width<=768px) {
    .sections {
        flex-direction: column;
    }
    .sectionContainer{
        margin: 0px;
    }
}